<!DOCTYPE html>
<html>

<head>
    <title>Calculadora</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body onkeypress="manipularTeclado()">
    


    <section id="conteiner-geral">
        <span>Calc-Zig </span>
        <section id="conteiner-inner-display">
            <input type="text" id="display" value="0" disabled>
        </section>
        <section id="conteiner-inner-teclado">
            <input type="button" value="7" onclick="atualizarDisplay(this)" id="button-7" class="button"/>
            <input type="button" value="8" onclick="atualizarDisplay(this)" id="button-8" class="button"/>
            <input type="button" value="9" onclick="atualizarDisplay(this)" id="button-9" class="button"/>
            <input type="button" value="*" onclick="atualizarOperacao(this)" id="button-vezes" class="button operacoes"/>
            <input type="button" value="4" onclick="atualizarDisplay(this)" id="button-4" class="button"/>
            <input type="button" value="5" onclick="atualizarDisplay(this)" id="button-5" class="button"/>
            <input type="button" value="6" onclick="atualizarDisplay(this)" id="button-6" class="button"/>
            <input type="button" value="-" onclick="atualizarOperacao(this)" id="button-menos" class="button operacoes"/>
            <input type="button" value="1" onclick="atualizarDisplay(this)" id="button-1" class="button"/>
            <input type="button" value="2" onclick="atualizarDisplay(this)" id="button-2" class="button"/>
            <input type="button" value="3" onclick="atualizarDisplay(this)" id="button-3" class="button"/>
            <input type="button" value="+" onclick="atualizarOperacao(this)" id="button-mais" class="button operacoes"/>
            <input type="button" value="C" onclick="limparDisplay()" id="button-c" class="button"/>
            <input type="button" value="0" onclick="atualizarDisplay(this)" id="button-0" class="button"/>
            <input type="button" value="%" onclick="atualizarDisplay(this)" id="button-porcentagem" class="button"/>
            <input type="button" value="=" onclick="calcularOperacao()" id="button-igual" class="button"/>
            <input type="button" value="/" onclick="atualizarOperacao(this)" id="button-barra" class="button operacoes"/>
            <input type="button" value="**" onclick="atualizarOperacao(this)" id="expoente" class="button"/>
            <input type="button" value="(" onclick="atualizarDisplay(this)" id="abre-p" class="button"/>
            <input type="button" value=")" onclick="atualizarDisplay(this)" id="fecha-p" class="button"/>
            <!-- <input type="button" value="√" onclick="calcularOperacao()" id="button-igual" class="button"/> -->
            <button class="button" value="√" onclick="atualizarOperacao(this)" id="button-raiz">√</button>
            
            <input type="button" value="." onclick="atualizarDisplay(this)" id="button-ponto" class="button"/>
        </section>
    </section>
    <script src="js/calc_functions.js"></script>

</body>

</html>
